<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container px-2 justify-content-start">
        <a class="navbar-brand" routerLink="/">
            <img src="/assets/pizza.png" width="30" height="30" alt="">
            Pizza Palace
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="menu" routerLinkActive="active">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="order" routerLinkActive="active">Order</a>
            </li>
        </ul>
    </div>
</nav>
