<div class="row justify-content-between align-items-center m-0 my-4">
    <h1 class="m-0">Menu</h1>
</div>

<ul class="list-unstyled">
    <li class="mb-3" *ngFor="let pizza of pizzas">
        <div class="card shadow-sm">
            <div class="card-body row justify-content-between align-items-center m-0">
                <div class="col-8 media">
                    <img [src]="pizza.image" class="mr-3 rounded" [alt]="pizza.name" height="80">
                    <div class="media-body">
                        <h5 class="m-0">{{ pizza.name }}</h5>
                        <small class="text-muted">{{ pizza.ingredients }}</small>
                        <strong class="d-block">{{ pizza.price | currency:'EUR' }}</strong>
                    </div>
                </div>

                <div class="col-4 text-right">
                    <div class="btn-group shadow-sm" role="group">
                        <button class="btn btn-outline-danger" (click)="onAddToOrder({ pizza: pizza, size: 's' })">S</button>
                        <button class="btn btn-outline-danger" (click)="onAddToOrder({ pizza: pizza, size: 'm' })">M</button>
                        <button class="btn btn-outline-danger" (click)="onAddToOrder({ pizza: pizza, size: 'l' })">L</button>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
